tmp/
*.pdb
*.ilk
*.log
*.tlog
*obj
*.lastbuildstate
*.sdf
*.user
*.sln
*.ipch
*.exp
*.db
*.config
*.manifest
*.opensdf
*.exe
*.bmp
*.jpg
*.so
*.pyc
*.ftpsyncdir
*.idb
Thumbs.db
*.obj
*.exe
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.sbr
obj/
log/
logs/
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.db*
*.journal
stack.txt
lua11dump.txt
*.dll
*.lib
*.bat
build*/
*.user